/*Code for About Me main page*/
* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}  

body {
    background-image: url("../images/papyrus.png");
    width: 960px;
}

.top {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#name {
    background-color: #4aaaa5;
    color: white;
    padding: 25px;
    float: left;
    font-size: 32px;
    margin: 0 0 0 25px;
}

#links {
    background-color: white;
    padding-top: 35px;
    float: right;
}

#about-link {
    float: left;
}

#about-title {
    color: #4aaaa5;
    padding: 35px;
    margin-right: 30px; 
}

/* nav ul {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    flex: 1 1 0; 
} */

.box {
    background-color: white;
}

#words {
    text-align: center;
    line-height: 40px;
}

img {
    float: left;
    margin: 20px;
}